div.navigation
    a.navigation--item.button(href="/")
        i.fas.fa-home &nbsp;Home
    a.navigation--item.button(href="/persons")
        i.fas.fa-users &nbsp;Active Persons
    a.navigation--item.button(href="/cars")
        i.fas.fa-car &nbsp;Available Cars
    a.navigation--item.button(href="/persons/new")
        .fas.fa-user-plus &nbsp;New Person
    a.navigation--item.button(href="/cars/new")
        i.fas.fa-car
            i.fas.fa-plus(style="font-size: 0.7em;")
            | &nbsp;New Car